/* === Variáveis === */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/* === Body === */
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* === Layout === */
section + section {
  margin-top: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar a {
  font-family: "Roboto", sans-serif; /* Usa a fonte Roboto */
  font-size: 26px; /* Tamanho da fonte dos links */
}