/* === Imagens === */
.image-container {
  width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
  height: 300px; /* Define uma altura fixa para todas as imagens */
  overflow: hidden; /* Corta o conteúdo que ultrapassa o contêiner */
  border-radius: 8px; /* Bordas arredondadas */
  display: flex; /* Garante que o conteúdo seja centralizado */
  justify-content: center;
  align-items: center;
}

.image-container img,
.modal-image {
  display: block;
  width: auto; /* Permite que a largura da imagem seja ajustada automaticamente */
  height: auto; /* Permite que a altura da imagem seja ajustada automaticamente */
  max-width: 100vw; /* Garante que a imagem não ultrapasse a largura da tela */
  max-height: 100vh; /* Garante que a imagem não ultrapasse a altura da tela */
  object-fit: contain; /* Ajusta a imagem sem cortar */
}